{% include 'layouts/header.html' %}
<center>
<h1>Movie Detail</h1>
<img src="{{movie.image.url}}" alt="img" height="400" width="600">
<h2>{{movie.title}}</h2>
<p>{{movie.description}}</p>
<p>{{movie.genre}}</p>
<p>{{movie.director}}</p>
<p>{{movie.actors}}</p>
<p>{{movie.lang}}</p>
<iframe src="{{movie.trailer_url}}" frameborder="0">Смотреть трейлер</iframe>
<p><a href="{{movie.movie_url}}">Смотреть фильм</a></p>
<p><button><a href="/movies/{{movie.id}}/delete/">Удалить фильм</a></button></p>
<button><a href="/movies/{{movie.id}}/review/">Оставить отзыв</a></button>
    </center>
{% include 'layouts/footer.html' %}
